$red: rgb(66,192,150);
$color-neutral:rgb(245,245,245);
$transition-time:.3s;
$radius : 2vmin;
$depth-offset : 5px;
$red : rgb(255, 102, 99);
$blue : rgb(148, 183, 227);


/*@import 'button';*/

html
{
    position: relative;
    left: 0px;
    overflow-x: hidden;
    // transition:left $transition-time;
    // transition-timing-function:$timing-function
}

body
{

    
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight:200;
    background: $color-neutral;
    user-select: none;
}

.grid_square
{
  font-family: 'Roboto Slab', serif;

  background: rgb(254, 177, 68);
  
  
  margin:1%;


  border-radius:$radius;

  transform: rotateY(0deg);
  transition: all $transition-time linear, background 0s linear $transition-time/2;
  box-shadow: .3vmin .3vmin 0px 0px;
  border:.25vmin solid;
  cursor: pointer;
  margin:1vmin;
  margin-bottom:1vmin;
   margin-top:1vmin;
  /*position: absolute;*/
  
  text-align: center;
  /*vertical-align: center;*/
  div
  {
    font-size:8vmin;
    transition: all $transition-time linear;
    transition: content 0s linear $transition-time/2;
    text-shadow: 0px 0px  red inset;

  }

}

#page
{
}

h1
{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-align: center;
  font-size: 15vmin;
  color:rgb(148, 183, 227);
  text-shadow: 3px 3px rgb(148*.8, 183*.8, 227*.8);
  /*border:1.5px solid;*/
  margin-bottom:25px;
}



.col-xs-2
{
  margin:0px;
  padding:0;
}

.row
{

  
  max-width:1080px;
  margin:0 auto;
  margin-bottom:5vmin;
  text-align: center;
  /*margin-bottom:100px;*/
  /*background: teal;*/
}


.content
{
  width:95vmin;
  border:.5vmin solid $blue;
  /*padding:2vmin;*/
  border-radius: $radius;
  /*background-color: rgba($blue,.25);*/
  color:$blue;
  /*box-shadow: .6vmin .6vmin 0px 0px;*/
}



.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background:$blue;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 23px;
  background: darken($blue,25);
  cursor: pointer;
  color:$blue;
  box-shadow: 2px 2px 0px 0px darken($blue,35);
  border-radius:5px;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.button {
  border: none;
  color: white;
  padding:1vmin 2vmin;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  
  cursor: pointer;

   background: $blue;
  
  


  border-radius:$radius;

  transform: rotateY(0deg);
  transition: all .05s linear;
  box-shadow: .3vmin .3vmin 0px 0px darken($blue,5);
  border:.25vmin solid darken($blue,5);
  cursor: pointer;
  margin: 0px auto;
  margin-bottom:1vmin;
  margin-top:1vmin;

  
  text-align: center;
  position: relative;
  top:0;
  left:0;
  font-size: 2em;

}

.button:hover
{
  top:.1vmin;
  left:.1vmin;
  box-shadow: .2vmin .2vmin 0px 0px darken($blue,5);
}

.button:active
{
  top:.3vmin;
  left:.3vmin;
  box-shadow: 0vmin 0vmin 0px 0px darken($blue,5);
}

.grid_square:active
{
  box-shadow: 0vmin 0vmin 0px 0px;
}
