$red: rgb(66,192,150);
$color-neutral:rgb(245,245,245);
$transition-time:.3s;
$radius : 1.5rem;
$depth-offset : 5px;


/*@import 'button';*/

html
{
    position: relative;
    left: 0px;
    overflow-x: hidden;
    // transition:left $transition-time;
    // transition-timing-function:$timing-function
}

body
{
    font-family: 'Roboto Slab', serif;
    background: $color-neutral;
}

.grid_square
{

  background: rgb(254, 177, 68);
  
  width:125px;
  height:125px;
  margin:10px;

  border-radius:$radius;

  transform: rotateY(0deg);
  transition: all $transition-time linear, background 0s linear $transition-time/2;
  box-shadow: 5px 5px 0px 0px;
  border:1.5px solid;
  cursor: pointer;

  position: absolute;

}

#page
{

  position: relative;
  /*background:black;*/
  margin:0px auto;
  /*margin-top:100px;*/
  width:150px*6;
  height: 100px;
  /*background: black;*/
}

h1
{
  text-align: center;
  font-size: 5em;
  color:rgb(148, 183, 227);
  text-shadow: 5px 5px rgb(148*.8, 183*.8, 227*.8);
  /*border:1.5px solid;*/
  margin-bottom:25px;
}