/*@import 'button';*/
html {
  position: relative;
  left: 0px;
  overflow-x: hidden;
}

body {
  font-family: "Roboto Slab", serif;
  background: whitesmoke;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.grid_square {
  background: #feb144;
  margin: 1%;
  border-radius: 2vmin;
  transform: rotateY(0deg);
  transition: all 0.3s linear, background 0s linear 0.15s;
  box-shadow: 0.3vmin 0.3vmin 0px 0px;
  border: 0.25vmin solid;
  cursor: pointer;
  margin: 1vmin;
  margin-bottom: 1vmin;
  margin-top: 1vmin;
  /*position: absolute;*/
  text-align: center;
  /*vertical-align: center;*/
}
.grid_square div {
  font-size: 8vmin;
  transition: all 0.3s linear;
  transition: content 0s linear 0.15s;
  text-shadow: 0px 0px red inset;
}

h1 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-align: center;
  font-size: 15vmin;
  color: #94b7e3;
  text-shadow: 3px 3px #7692b6;
  /*border:1.5px solid;*/
  margin-bottom: 25px;
}

/*VISUALIZATIONS NOT PREMANENT*/
.col-xs-2 {
  /*background: rgba(255,0,0,.5);*/
  margin: 0px;
  padding: 0;
}

.row {
  width: 80vmin;
  max-width: 1080px;
  margin: 0 auto;
  margin-bottom: 100px;
  /*background: teal;*/
}

.content {
  display: none;
  display: block;
  border: 5px solid #94b7e3;
  padding: 2vmin;
  border-radius: 2vmin;
  background-color: rgba(148, 183, 227, 0.15);
  box-shadow: 0px 0px 10px 0px rgba(41, 92, 156, 0.3);
}